%container {
  display: flex;
  background: rgba(193, 193, 193, 0.19);
  @media screen and (min-width: 800px) {
    flex-grow: 1;
  }
}

.nav-container {
  @extend %container;
}

.social-container {
  @extend %container;
  @media screen and (max-width: 400px) {
    display: none;
  }
}