// Font icons
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Raleway);


$text: (
  body: unquote("'Merriweather', serif"),
  body-weight: 400,
  headline: unquote("'Oswald', 'Helvetica Neue', Arial, sans-serif"),
  headline-weight: 400,
) !default;


// COLORS

$blue-grey: rgba(118, 125, 125, 0.72);

/// Color map, är inte implementerad helt ännu använder den delvis.
$color: (
  main: #c7c7c7,
  blodred: #73270e,
  accent1: #9b7467,
  dark: #4c3529,
  greyish: #e1e1e1,
  darkergrey: #9b7467,
  darkgrey: #666,
  bright: #f7f7f7,
  golden: #d4b404,
  background-nav:rgba(225, 225, 225, 0.35),
) !default;


/// breakpoints, 
$breakpoints: (
  'phone': (max-width: 415px), 
  'tablet': (max-width: 768px),
  'screen': (max-width: 1024px),
  'wide-screen': (max-width: 1508px)
) !default;
