

a {
  color: darken($blue-grey, 40);
  font: {
    size: 50%;
    family: verdana;
  }
}

p {
    font-size: 75%;
  }

.logo { position: absolute;
height: 3.5em;
@media all and (max-width: 416px){
  height: 4.05em;
}}

.megamenu {
  // omsluter kortet
  background: $blue-grey;
  position: absolute;
  margin: 0% 1% 1% 1%; // alternativt position absolute
  min-width: 315px;
  padding: 0;
  display: flex;
  box-shadow: 3px 5px 10px darken($blue-grey,50);
 
  top: 4em;
}

#fotografier {
  z-index: 200;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-grow: 1;
}

#produkter {
  color: blue;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  li {
    text-align: center;
    a {
      padding: 0.1em;
      top: 0;
      margin: 0;
      color: black;
      text-align: right;
    }
  }
}

/*flexcard */

/* anpassa korten i megamenyn med mixin nedan */

@include modify-card(1, #889, 50%);
@include change-opacity(#433, 2);

#menu-card {
  @extend %flexcard;
  margin: .5% .5% .5% .5%;
  width: 25%;
  background: $blue-grey;
}

@include respond-to('phone') {
  @include modify-card(1, #889, 10%);
  @include modify-card(2, #889, 50%);
  @include modify-card(3, #889, 20%);
  @include modify-card(4, #889, 20%);
}

#menu-card-header {
  margin: 0;
  background: darken($blue-grey, 20);
    h4 {  
  padding: 2%;
  font-weight: 700;
  font-size: 90%;
    }
}

#menu-card-img {
  align-self: center;
  width: 100%;
  height: auto;
}

#menu-card-main, #menu-card-bottom {
  @extend %flexcard;
}

#menu-card-footer {
  margin-top: auto;
  font-size: 70%;
}

/* formulär */

input[type=text],
select {
  width: 100%;
  padding: 0px 1%;
  margin: 5% 1% 1% 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: black;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  padding: 10px 2px;
  margin: 5px 0;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#form {
  font-family: verdana;
  color: black;
  border-radius: 2px;
  padding:0;
  margin: 0;
  #country {
    font-size: 80%;
    color:darkslategray;
  }
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #999;
}

.fa-times,
.fa-bars{
  color: darken($blue-grey, 30);
  font-size: 2em;
  padding: 0.5em;
}

#nav-toggle {
  display: none;
}

#galleri input.trigger {display: none;}

#nav-toggle,
.fa-times {
  display: none;
}

#nav-toggle:checked + #wrapper nav {
  display: flex;
}

#nav-toggle:checked + #wrapper header .fa-bars {
  display: none;
}

#nav-toggle:checked + #wrapper header .fa-times {
  display: block;
}

 nav {
  display: none;
  @media all and (min-width: 630px) {display: block;}
}

#galleri h2, #home h2 {
  display:none;
}

@media all and (min-width: 630px) {

  header {display: none;}

  nav > ul {
    background-color: map-get($color, background-nav );
    width: 100%;
    height: 3.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 6.5em;
  }
  
  #galleri input.trigger:checked ~ .megamenu {
  position: absolute;
  top: 4em;
  display: flex;
}


//lite buggigt men jag tar det sen. den ursprungliga
// upp lägger sig under samt att  den ursprungliga pilen är kvar

 #galleri label.menu:after {
  position: absolute;
   @include draw-arrow(8px, #777, 'down'); 
  top: 2.7em;
  left: 6.7em;
 }
  
  #galleri input.trigger:checked ~ label.menu:after {
  @include draw-arrow(8px, #999, 'down');
}
  
  #galleri h2, #home h2 {
    font-size: 160%;
    margin-top: 1.5em;
    padding: 0.3em;
    display: block;
  }
 
  .megamenu { 
    display: none;}
  
  #produkter a {
    color: black;}
  

}