/* flex cards */

.card-wrap {
  max-width: 88%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background: map-get($color, bright);
}

.card-main {
 /* background: map-get($color, greyish);*/
 background: blue;
  min-width: 100%;
  margin: 1% 1% 1% 1%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-head {
  font-size: 300%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700%;
  @include bolder-text (40px, black);
}

.card-image {
  padding: 1% 1% 1% 1%;
  align-self: center;
  width: 30%
}