/* navigation bar */


.social-container {
    font-family: sans-serif;
    color: #232333;
}


* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
  color: black;
  background: rgba(52, 73, 94, 0.14);
}

/* Colors */

li:hover {
  background: rgba(155, 170, 182, 0.3);
}
li li {
  background: rgba(155, 170, 182, 0.22);
}
li li:hover {
  background: rgba(155, 170, 182, 0.3);
}
li li li {
  background: rgba(155, 170, 182, 0.22);
}
li li li:hover {
  background: rgba(155, 170, 182, 0.3);
}
li li li li {
  background: rgba(155, 170, 182, 0.22);
}
li li li li:hover {
  background: rgba(155, 170, 182, 0.3);
}

/* Flex Navigation Bar */
.flex-nav {
  padding: 0;
  display: flex;
  flex-flow: column;
  list-style-type: none;
}

.flex-nav li {
  flex: 1;
  text-align: center;
  color: inherit;
  transition: all .2s ease;
}
.flex-nav li:hover {
  flex: 1.1;
}
.flex-nav li a {
  display: block;
  padding: 20px 0;
  color: inherit;
  text-decoration: none;
}

/* Drop Down */
.drop-down li {
  position: relative;
}

/*vid flex-flow row, position absolute,
  flex-flow column, position relative
  vid brytpunkten för mobiltelefon bör
  undermenyerna ligga fast (position: absolute;)
*/
.drop-down li ul {
  display: none;
  width: 100%;
  position: relative;
  list-style-type: none;
}

.drop-down li ul ul {
    /*när flex-nav har flex-flow: row skall left sättas till 100%
    när flex-nav har flex-flow: column skall left sättas till 0%  och "drop-down li ul"" skall ha position: relative*/
    
  left: 0%;
  top: 0;
}
.drop-down li ul ul li {
  width: 100%;
  z-index: 100;
}
.drop-down li ul ul li li {
  width: 100%;
  z-index: 200;
}

.drop-down li:hover > ul {
  display: block;
}


/* dölja menyn */


.wrapper input.trigger {
    position: absolute;
    display: none;

}


.wrapper label {
    position:relative;
    display: block;
    min-height: 2em;
    padding: .25em;
    font-size: 1.1em;
    margin: 0;
    cursor: pointer;
}

.wrapper label:after {
    position:absolute;
    content: "\2261";
    color: black;
    font-size: 2em;
    top: 0;
    right: .05em;
}


.wrapper input.trigger:checked ~ ul{
    display: block !important;
    ul input.trigger-sub ~ ul li {
      display: block;
    }
}

.wrapper ul {
    display: none;
}

@media screen and (min-width: 416px) {

    .wrapper label {display: none;}
    .flex-nav {flex-flow: row;}
    .drop-down li ul ul {left: 100%;}
    .wrapper ul{ display: flex;}
    .social-container {flex:1}
    .drop-down li ul {position: absolute;}
}

.logo {
    margin: 0;
    display: flex;
    position: absolute;
    width: 9%;
}

/* hämta text från en mixin   DRY */

.logo-text {
  position: absolute;
  font-family: "Raleway", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: 120%;
  padding: 2% 2% 2% 2%;
}


/* dropdown med knappar */
/* skall implementeras men får sluta nu*/
/*funkar på codepen "Dropdown med knappar"*/


/* gömmer sub-menyn (sub1, sub2, sub3) 
*/

.drop-down ul{display: none;}

/* trigger sub 1 */
input.trigger-home {
  position: relative;
  display: none;}

label.menu-home, label.menu-sub1, label.menu-sub2, label.menu-sub3 {
  border: 1px solid red;
  position: relative;
  display: block;
  min-height: 1.2em;
  margin: 0;
  background: #666;
  cursor: pointer;
}

/* trigger sub 1 */
input.trigger-sub1 {
  position: relative;
  }

/* trigger sub 2 */

input.trigger-sub2 {
  position: absolute;
  }

/* trigger sub 3 */

input.trigger-sub3 {
  position: absolute;
  }

input.trigger-home:checked ~ ul {
  display: block;
}

.drop-down input.trigger-sub1:checked ~ ul{
  display: block;
}

