////
/// Documentation of inlamning 6
/// @author Anders Rochester 
/// @group Inlämning 6
/// 
////




/* mixin title-text */
@mixin bolder-text($size: 25px, $color: #454545) {
  font: {family: 'Raleway', Arial, Helvetica, sans-serif;
        size: $size;
        weight: 800;
        }
  color: $color;
}

/* mixin breakpoint */

@mixin respond-to($breakpoint) {
 // If the key exists in the map
 @if map-has-key($breakpoints, $breakpoint) {
   // Prints a media query based on the value
   @media #{inspect(map-get($breakpoints, $breakpoint))} {
     @content;
   }
 }

 // If the key doesn't exist in the map
 @else {
   @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
       + "Available breakpoints are: #{map-keys($breakpoints)}.";
 }
}



/// En mixin som ändrar vart 5:e till width: 98%
@mixin toggle-width { ///

@for $i from 1 through 10 {
  @if $i == 5 {
  .card-main:nth-child(#{$i}) {
    width: #{98%}} 
    }
  @else if $i == 10 {
  .card-main:nth-child(#{$i}) {
    width: #{98%}}
  }
  @else {
  .card-main:nth-child(#{$i}) {
    width: #{48%}
  }
}
}
}
/// En mixin som går igenm alla kort för att ge dem en ökad
/// opacitet. Man kan påverka det med faktorn och vilken ursprungsfärg.
@mixin change-opacity($color, $factor) {
  @for $i from 1 through 10 {
    .card-main:nth-child(#{$i}){
      background:rgba($color, 1/$i*$factor)};
    }
  }

///Mixin för att anpassa korten i megamenyn. Argument: $card(vilket kort i ordningen)
///$width (önskad width, företrädesvis i procent)
@mixin modify-card($card, $bg, $width) {
  #menu-card:nth-child(#{$card}) {
    width: #{$width};
    background: $bg;
    } 
    }

/// mixin card-button som jag tar och snor
@mixin card-button($bg) {
  @extend %button;
  background: $bg;
  &:hover {
    background:darken($bg, 10%);
    transition: all 0.4s ease;
  }
  &:active {
    background:darken($bg, 25%);
  }
}



/// Mixin som ritar en pil, argument är $size (storleken på pilen)
/// $color (färgen på pilen)
/// $direction ('up' eller så blir det default ned)
@mixin draw-arrow($size, $color, $direction) {

    width: 0; 
    height: 0; 
    content: "";

  @if $direction == 'up' {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    }
  @else  {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;}
}

/* mixin toggle picture */

/* mixin shiver */

/* flex width */

/* card background*/