

/// texten i kortet
%card-text-padding {
  padding: 5% 3% 5% 3%;
  text-align: left;
}

/// mall för knappar

%button {
  border: none;
  color:black;
  width: 100%;
  margin: 0% 1% 1% 0%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/// För att rita pilar i css tillsammans med mixin arrow
 %arrow {
  width: 0; 
  height: 0; 
 }

 /// Flexcard

 %flexcard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
 }