/* navigation bar */

#nav-container label {
 position: relative;
 display: block;
 min-height: 2em;
 padding: .55em;
 font-size: 1.1em;
 margin: 0;
 cursor: pointer;
 line-height: 2em;
}

#nav-container label:after {
 position: absolute;
 right: 1em;
 top: 0.2em;
 font-size: 50px;
 content: "\2261";
}

/* dölj checkboxen*/
#nav-container input.trigger {
 position: absolute;
 display:none;
}

#nav-container input.trigger:checked ~ ul, #nav-container input.trigger:checked ~ ul li ul {
 display:block !important;
}

/* dölj mobilmenyn om inte checkboxen är iklickad*/
#nav-container ul {
 display: none;
 width: 100%;
 list-style: none;
 margin: 0px;
 position: relative;
}

#nav-container ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
}

#nav-container, .social-container {
    font-family: sans-serif;
    color: #232333;
}

.flex-nav, .drop-down{
    padding: 0;
    display: flex;
    list-style-type: none;
}

.flex-nav > li:not(:first-child) {
    border-left: 2px solid rgba(0, 0, 0, 0.12);
}

.flex-nav li {
    flex: 1;
    text-align: center;
    transition: all .2s ease;
}

.flex-nav li a {
    display: block;
    padding: 8px 0;
    color: inherit;
    text-decoration: none;
}

.drop-down li {
  position: relative;
  flex: 1;
  text-align: center;
  transition: all .2s ease;
  ul {
    display: none;
    width: 100%;
    position: absolute;
  }
}

.drop-down li ul ul {
  left: 100%;
  top: 0;
  li {
    width: 92.5%;
  }
}

.drop-down li:hover > ul {
    display: block;
}

.icon-image {
    height:32px;
}

/* Colors */

li:hover {
    background: rgba(193, 193, 193, 0.67);
}
  li li {
    background: rgba(193, 193, 193, 0.19);
    &:hover {
      background: rgba(193, 193, 193, 0.67);
    }
  }
  
  li li li {
    background: rgba(193, 193, 193, 0.19);
    &:hover {
      background: rgba(193, 193, 193, 0.67);
    }
  }
